
.product-foot{
  margin-top: 150px;
  margin-bottom:46px;
  .foot-home{
 
    @include flex(column,center,center,30px);

    .foot-bar{
      @include flex(row,space-between,start);

      .foots-logo{
        margin-right:161px; 
        @include flex(column,start,start,24px);

        .foot-logo{
          @include flex(row,center,center,16px);

          h2{
            font-size:30px;
            font-weight: 700;
            color: #173A56;
          }
        } 

        .foot-social{
          @include flex(row,center,center,16px);
        }
      }

      .foot-list{
       
        @include flex(row,space-between,center,129px);
        
        .resource{
          @include flex(column,start,start,8px);
          h3{
            font-size: 20px;
            font-weight: 500;
            color: #22343D;
          }
          ul{
            @include flex(column,start,start,10px);

            li{
              a{
                color:#22343D;
                font-size: 16px;
                font-weight: 400;
              }
            }
          }
        }
      }

      .foot-input{
          margin-left: 82px;
        @include flex(column,start,start,21px);

        .footinput-text{
          @include flex(column,start,start,34px);

          p{
              font-size: 20px;
              line-height: 30px;
              color:#22343D;
              font-weight: 500;
              width: 280px;
          }
          input{
           border:none;
            width: 325px;
            height: 48px;
            border-radius: 4px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          }
        }

        .foot-btn{
          .signnow{
            padding: 10px 15px;
            border: none;
            background-color: #02897A;
            color: #ffffff;
            font-size: 16px;
            font-weight: 700;
            border-radius: 4px;
          }
        }
      }
    }

    .copyright{
      h2{
        color: #22343D;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }

  @media(max-width:430px){
    .foot-home{
      @include flex(column,center,center,50px);

      .foot-bar{
        @include flex(column,center,center,30px);

        .foots-logo{
          @include flex(column,center,center,10px);
          margin: 0px;
        }
        .foot-list{
          @include flex(column,center,center,10px);
          .resource{
            @include flex(column,center,center,10px);
            ul{
              @include flex(column,center,center,10px);
            }
          }
        }

        .foot-input{
          @include flex(column,center,center,21px);
          margin: 0;

          .footinput-text{
            @include flex(column,center,center,34px);
          }
          p{
            text-align: center;
          }
        }
      }
      .copyright{
        
        h2{
          font-size: 16px;
        }
      }
    }

  }
}