
.navbar{
          
          background-color:#FFFFFF;


          .mobile-menu{

            display: none
          }
          .nav-menu{
                @include flex(row, space-between, center);
                padding: 27px 0px;
            }

         .logo{
               a{
                  @include flex(row, center, center, 16px );

                 .logo-img{
                      width: 40px;
                      height: 36px;
              }

                 h1{
                      color: #173A56;
                      font-size: 30px;
                      font-weight: 700;
                }
            }
          }

      
          .nav-list{
                 @include flex(row, center, center, 24px);

          .list{

            ul{
                @include flex(row, center, center, 24px);
            }

            li{

            a{
              font-size: 16px;
              color: #173A56;
              font-weight: 600;
              transition: .5s ease;

              &:hover{
                color:black;
              }
            }
            }
          }

      .nav-btn{
        @include flex(row, center, center, 24px);

        button{
          padding: 13px 25px;
          background-color: #02897A;
          font-size:16px;
          font-weight: 600;
          border: 1px solid #02897A;
          border-radius: 5px;
          transition: ease .5s;
          color: #FFFFFF;

          &:hover{
            background-color: transparent;
            border: 1px solid #BCD0E5;
            color:#173A56;
          }
        }
      }
    }
}

@media(max-width:530px){

  .navbar{

    .nav-list{
    display: none;
      }
  
  
    .mobile-menu{
        display: block;
      }
 
 
    } 
}
    